extends ./default.jade

block content
  h1 Apps
  section.app-list: ul
    each app in apps
      li.app-thumbnail
        a(href=app.permalink)
          img(src=app.thumb width="100" height="100")
          h2.app-title= app.title
          .app-author= "by "+app.author
  .pagination= pageNumber +" of "+pageTotal
        
